.button {
  padding: 18px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #000;
  color: #fff;

  outline: none !important;
  border: none !important;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }
}
